<div class="about-me-container">
    <div class="about-me-content">
        <h2 class="about-me-heading">About Me</h2>
        <p class="about-me-paragraph">
            "Hello, I'm Aditya, a software engineer driven by a passion for cutting-edge technology. I'm dedicated to pushing the boundaries of innovation through coding and exploring the frontiers of modern tech. My excitement comes from diving deep into diverse
            facets of the tech world, from AI to software architecture. My mission is to bridge the gap between complex technology and user-friendly solutions, simplifying the digital landscape for individuals and businesses. Join me on this journey where
            I'm committed to unraveling the possibilities of modern technology and making them accessible to all."</p>
        <p class="resume-link"><a href="assets\img\My Resume(Tech).docx" target="_blank">Download my Resume</a></p>
    </div>
    <div class="profile-image-container">
        <img class="profile-image" src="assets\img\photo.JPG" alt="Profile Image">
    </div>
</div>