<div class="projects-container">
    <table class="projects-table">
        <tr>
            <th>Project</th>
            <th>Description</th>
            <th>Role</th>
            <th>Outcome</th>
        </tr>
        <tr>
            <td><img src="assets\img\e-commerce.png" alt="Project 1"></td>
            <td>"Erpee Bikes, a budding electric bicycle startup, entrusted me to develop the backend and seamlessly integrate AWS cloud services for their website. I delivered a secure, scalable, and efficient backend solution, with AWS enhancing performance
                and scalability. This project empowers Erpee Bikes to provide a seamless online experience, showcasing their innovative e-bikes and fostering sustainable urban commuting."</td>
            <td>Back end Developer</td>
            <td>The Erpee Bikes project yielded substantial outcomes, with an improved user experience, heightened scalability for future growth, robust data security measures, and expanded business opportunities. These results have established Erpee Bikes
                as a formidable presence in the electric bicycle market, emphasizing innovation and sustainable urban mobility. Their website now stands as a reliable and secure platform, offering seamless browsing and fostering confidence among users,
                contributing to the brand's success.</td>
        </tr>
        <tr>
            <td><img src="assets\img\mobile app.jpg" alt="Project 2"></td>
            <td>Create a mobile app that enables users to manage their tasks, set reminders, and track progress. Include features like task creation, due date notifications, priority levels, task categorization, and collaboration capabilities.</td>
            <td>Mobile App Developer</td>
            <td> A user-friendly mobile app that helps individuals and teams stay organized, increase productivity, and meet deadlines. The outcome could include improved task management, enhanced efficiency, and better teamwork.</td>
        </tr>
        <tr>
            <td><img src="assets\img\dataanalytics.png" alt="Project 3"></td>
            <td> Build a data analytics dashboard that visualizes and analyzes key metrics and data trends for a specific domain, such as sales, marketing, or customer engagement. Integrate data from various sources, apply data visualization techniques, and
                provide interactive functionalities.</td>
            <td> Data Engineer / Front-end Developer</td>
            <td>A robust data analytics dashboard that allows users to gain insights, make data-driven decisions, and monitor performance. The outcome could include improved business intelligence, optimized processes, and enhanced decision-making capabilities.</td>
        </tr>
    </table>
</div>